{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "P4MuseumBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

  {% block p4museum_body %}
  	<h2>Liste des billets</h2>

  	{% for ticket in listTickets %}
      {{ ticket.price }}
      {{ ticket.type }}
        {% if ticket.ticketowner is not null %}
          {{ ticket.ticketowner.name }}
        {% endif %}
  	{% endfor %}


  {% endblock %}
