{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "P4MuseumBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block P4museum_body %}

  <h2>Liste des billets</h2>

{% endblock %}
