<!DOCTYPE html>
<html>
<head>
<title>Title of the document</title>
</head>
<body>
<h3>You did it! You registered!</h3>

Hi You're successfully registered.

<img src="{{ absolute_url(asset('images/louvre.jpg')) }}" alt="Louvre">

Thanks!
</body>
</html>