<!DOCTYPE html>
<html>
  <head>
    <title>Bienvenue sur ma première page avec OpenClassrooms !</title>
  </head>
  <body>
    <h1>Hello World !</h1>

    <p>
      Ici, on pourra consulter le prix des billets.
    </p>
  </body>
</html>